.button {
    text-align: center;
    padding: 0.9rem;
    color:#000066;
    background-color: transparent;
    border: 2px solid #000066;
    border-radius: 10px;
    font-size: 1.2rem;
    list-style: none;
}

.button:hover {
    color: #04f704;
    transform: translateY(-7px);
    transition-duration: 0.8s;
    box-shadow:0px 0px 5px 5px #04f704;
    /*background: darkgreen;*/
    cursor: pointer;
}

a {
    color: inherit;
}

section .button {
    display: block;
    justify-content: center;
    margin: 30px auto;
}